
.container {
  margin: -60px;
}


.img {
  position: relative;
  top: 10px;
  left: -150px;
  width: 355px;
}

.buttonHome{
  background-color: rgb(40, 209, 6);
  border-radius: 10px;
  position: relative;
  top: -100px;
  left: -50px;
}

.buttonAbout{
  background-color: rgb(40, 209, 6);
  border-radius: 10px;
  position: relative;
  top: -100px;
  left: -365px;
}

.buttonRandom{
  background-color: rgb(40, 209, 6);
  border-radius: 10px;
  position: relative;
  top: -100px;
  left: 132px;
}

.buttonFav{
  background-color: rgb(40, 209, 6);
  border-radius: 10px;
  position: relative;
  top: -100px;
  left: -283px;
}
