.cardContainer {
  height: 320px;
  width: 220px;
  border: 3px solid #000;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(77, 206, 96, 0.406);
  position: relative;
  overflow: hidden;
}

.cardImage {
  position: relative;
  top: -15px;
  width: 65%;
  max-height: 40%;
  object-fit:contain;
  border: 3px solid #000;
}

.title{
  text-align: center;
  font-size: 14px; 
  background-color: rgb(126, 242, 24);
  margin: 0px ;
}

.cardTitle {
  height: 9px;
  font-size: 14px; 
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botonX {
  position: relative;
  top: 280px;
  left: -10px;
  background-color: rgb(126, 242, 24);
  width: 107%;
  border: 3px solid #000; /* Borde con grosor de 3px */
  cursor: pointer;
}
