.cardContainer {
  height: 320px;
  width: 220px;
  border: 3px solid #000;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(77, 206, 96, 0.406);
  position: relative;
  overflow: hidden;
}

.cardImage {
  position: relative;
  top: -15px;
  width: 58%;
  max-height: 40%;
  object-fit:contain;
  border: 3px solid #000;
}

.title{
  font-size: 18px; 
  background-color: rgb(126, 242, 24);
  font-weight: bold;
  margin: 2px ;

}

.cardTitle {
  position: relative;
  top: -19px;
  height: 9px;
  font-size: 16px; 
  margin: 9px ;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botonX {
  position: relative;
  top: 272px;
  left: -10px;
  background-color: rgb(126, 242, 24);
  width: 107%;
  border: 3px solid #000; /* Borde con grosor de 3px */
  padding: 8p; 
  margin: 2px;
  cursor: pointer;
  font-weight: bold;
}
