.searchButton {
    display: inline-flex;
    overflow: hidden;
    padding: 10px 20px;
    border-radius:  20px 20px;
    margin-left: 20px;
    transform: translate( -146%, -230%);
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/582/799/desktop-wallpaper-rick-and-morty-backround-posted-by-ethan-mercado-rick-and-morty-portal.jpg);
}

.inputColor{
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/582/799/desktop-wallpaper-rick-and-morty-backround-posted-by-ethan-mercado-rick-and-morty-portal.jpg);
    width: 200px;
    border-radius: 10px;
    color: black;

 }

 .button{
    background-color: rgb(40, 209, 6);
    border-radius: 10px;
 }
